---
const { name, image, description, teamSize, stack } = Astro.props;
---
<p/>
<div className="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]">
    <div className="grow w-full">
        <h1 className="text-xl font-bold mb-2">
            <b>Project name:</b> <span className="font-normal">{name}</span>
        </h1>
        <p className="mb-2">
            <b>Role:</b> <span className="font-normal">Android Developer</span>.
        </p>
        <p className="mb-2">
            <b>Team size:</b> <span className="font-normal">{teamSize} developers</span>
        </p>
        <p className="mb-2">
            <b>Description:</b> <span className="font-normal">{description}</span>
        </p>
        <div class="card-actions justify-start">
            {stack && stack.map((tag) => <div class="badge badge-outline">{tag}</div>)}
        </div>
    </div>
</div>
