---
const { name, image, description, stack } = Astro.props;
---
<div class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]">
      <div class="grow w-full">
        <h1 class="text-xl font-bold">
          {name}
        </h1>
        <p class="py-1 text-1xl">{description}</p>
        <div class="card-actions justify-end">
          {stack && stack.map((tag) => <div class="badge badge-outline">{tag}</div>)}
        </div>
    </div>
</div>
