---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import TimeLineElement from "../../../components/cv/TimeLine.astro";
import i18next from "i18next";

i18next.changeLanguage("ru");
---


<BaseLayout title="Resume">
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Резюме</div>
    </div>

    <div class="mb-10 text-justify">
        Здравствуйте! Я Александр - Android-инженер с 6-летним опытом в области разработки.
        За это время я успешно завершил более 20 проектов, принимал активное участие в open source и делал свой
        вклад в сообщество через написание статей на популярных платформах,
        таких как <a style="color: rgb(0,0,255)" href="https://medium.com/@alex.hrindii/">Medium</a>.
        Мои знания включают в себя архитектуру Android, мобильной разработки, шаблоны проектирования, процессы
        разработки и мобильные системы развертывания (CI/CD). Моя специализация - разработка продуктов.
        Кроме того, я увлечен бизнесом, финансами, психологией и активно отслеживаю последние технические
        тенденции и новости в мобильной архитектуре и передовых мобильных технологиях. Имею достаточные лидерские
        и организационные навыки.
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Основные навыки</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6">
        <li>OOP</li>
        <li>Android</li>
        <li>Java</li>
        <li>Kotlin</li>
        <li>Kotlin KMP (Basic)</li>
        <li>Groovy</li>
        <li>Gradle Kotlin DSL</li>
        <li>Bash</li>
        <li>C++ (Basic)</li>
        <li>C# (Basic)</li>
        <li>SQLite</li>
        <li>MySQL</li>
        <li>GraphQL</li>
        <li>REST</li>
        <li>Git</li>
    </ul>

    <!--Architecture-->
    <br/>
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Архитектура</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6">
        <li>Clean Architecture</li>
        <li>MVI</li>
        <li>MVVM</li>
        <li>MVP</li>
        <li>MVC</li>
        <li>E2E</li>
    </ul>

    <!--Architecture-->
    <br/>
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Технологии</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6">
        <li>Android SDK</li>
        <li>Jetpack Compose</li>
        <li>AAC</li>
        <li>Dagger 2</li>
        <li>RxJava</li>
        <li>Coroutines</li>
        <li>Okhttp</li>
        <li>Retrofit</li>
        <li>WebSocket</li>
        <li>Socket.IO</li>
        <li>Bluetooth (Classic, LE)</li>
        <li>Exo Player</li>
        <li>JSON</li>
        <li>Gson</li>
        <li>Moshi</li>
        <li>Kotlin Serialization</li>
        <li>Realm</li>
        <li>CameraX</li>
        <li>Moxy</li>
        <li>Butterknife</li>
        <li>Binding</li>
        <li>Picasso</li>
        <li>Glide</li>
        <li>Coil</li>
        <li>NavComponent (Compose, XML)</li>
        <li>Cicerone</li>
        <li>Voyager</li>
        <li>Leak Canary</li>
        <li>KtLint</li>
        <li>Detekt</li>
        <li>Hyperion</li>
        <li>Timber</li>
        <li>ArCore</li>
        <li>OpenGl (Basic)</li>
        <li>JNI (Basic)</li>
    </ul>

    <!--Testing-->
    <br/>
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Тестирование</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6">
        <li>Espresso</li>
        <li>Kaspresso</li>
        <li>Robolectric</li>
        <li>Junit4-5</li>
        <li>Barista</li>
        <li>Mockito</li>
        <li>Kakao</li>
        <li>UiAtomator</li>
        <li>WireMock</li>
        <li>MockWebServer</li>
    </ul>

    <!--AI-->
    <br/>
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">AI</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6">
        <li>ML Kit</li>
        <li>TensorFlow Lite</li>
        <li>YOLOv5</li>
        <li>Label Studio</li>
    </ul>

    <!--CI CD-->
    <br/>
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">CI/CD</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6">
        <li>Jenkins</li>
        <li>CircleCi</li>
        <li>TeamCity</li>
        <li>GitLab pipeline</li>
    </ul>

    <!--Services-->
    <br/>
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Сервисы</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6">
        <li>Maven</li>
        <li>Jira</li>
        <li>Confluence</li>
        <li>Bitbucket</li>
        <li>Gitlab</li>
        <li>GitHub</li>
        <li>Abstract</li>
        <li>Sketch</li>
        <li>Figma</li>
        <li>Sketch</li>
        <li>Firebase</li>
        <li>Stripe</li>
        <li>Other</li>
    </ul>

    <!--Experience-->
    <br/>
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Опыт работы</div>
    </div>

    <div class="time-line-container mb-10">
        <TimeLineElement
                title="Android Инженер | Руководитель отдела Android"
                subtitle="С сентября 2019 года - по настоящее время, в Eventyr"
                companyLink="https://eventyr.pro/"
                desc="Компания, ориентированная на предоставление услуг по аутсорсингу и аутстаффингу, также участвующая в реализации нескольких собственных проектов. Моя роль началась как инженер Android, затем перешла в роль Android TeamLead с расширенным кругом обязанностей, в конечном итоге, в Head of Android."
        />

        <TimeLineElement
                title="Middle Android Developer"
                subtitle="Июль 2019 - сентябрь 2019 года, в Digital Lab (Частичная занятость)"
                desc="Компания специализируется на разработке универсальных мобильных решений для супермаркетов и потребительского бизнеса. Моя роль включала в себя разработку структуры приложения, которая может собираться и разбираться как конструктор из различных модулей. Клиент может самостоятельно решать, какие функции необходимы для его бизнеса."
        />

        <TimeLineElement
                title="Android Developer"
                subtitle="Август 2018 - июль 2019 года, в Groot Soft (Полная занятость)"
                desc="GrootSoft (NDA) - IT-компания, специализирующаяся на мобильной разработке через аутсорсинг и аутстаффинг. Команда опытных разработчиков предлагает клиентам индивидуальные решения, сосредотачиваясь на качестве, современных технологиях и гибких моделях сотрудничества."
        />
    </div>
    ```

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Образование</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
        <TimeLineElement
                title="Бакалавр, Специалист по кибербезопасности"
                subtitle="с 2018 по 2021 год в Национальном университете радиоэлектроники в Харькове"
        />
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Языки</div>
    </div>

    <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li><b>Английский:</b> B1</li>
        <li><b>Украинский:</b> Native</li>
        <li><b>Русский:</b> Native</li>
    </ul>

</BaseLayout>
