---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import TimeLineElement from "../../../components/cv/TimeLine.astro";
import i18next from "i18next";

i18next.changeLanguage("en");
---

<BaseLayout title="Resume">
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">CV</div>
    </div>

    <div class="mb-10 text-justify">
        Hello, I'm Alex, an experienced Android Engineer with six years of expertise in the field.
        Over the course of my career, I have successfully delivered more than 20 projects,
        actively contributed to open-source,
        and shared my knowledge through tech writing on
        platforms like
        <a style="color: rgb(0,0,255)" href="https://medium.com/@alex.hrindii/">Medium</a>. Additionally,
        I have been an active participant in Q&A sessions.
        My areas of expertise encompass Android architecture, design patterns, and mobile CI/CD.
        I specialize in product development, with a keen interest in business, finance, psychology,
        and staying up-to-date with the latest advancements in mobile architecture and trending technologies.
        I have great leadership and organizational skills.
    </div>


    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Main Skills</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6">
        <li>OOP</li>
        <li>Android</li>
        <li>Java</li>
        <li>Kotlin</li>
        <li>Kotlin KMP (Basic)</li>
        <li>Groovy</li>
        <li>Gradle Kotlin DSL</li>
        <li>Bash</li>
        <li>C++ (Basic)</li>
        <li>SQLite</li>
        <li>MySQL</li>
        <li>GraphQL</li>
        <li>REST</li>
        <li>Git</li>
    </ul>

    <!--Architecture-->
    <br/>
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Architectures</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6">
        <li>Clean Architecture</li>
        <li>MVI</li>
        <li>MVVM</li>
        <li>MVP</li>
        <li>MVC</li>
        <li>E2E</li>
    </ul>

    <!--Architecture-->
    <br/>
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Technologies</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6">
        <li>Android SDK</li>
        <li>Jetpack Compose</li>
        <li>AAC</li>
        <li>Dagger 2</li>
        <li>RxJava</li>
        <li>Coroutines</li>
        <li>Okhttp</li>
        <li>Retrofit</li>
        <li>WebSocket</li>
        <li>Socket.IO</li>
        <li>Bluetooth (Classic, LE)</li>
        <li>Exo Player</li>
        <li>JSON</li>
        <li>Gson</li>
        <li>Moshi</li>
        <li>Kotlin Serialization</li>
        <li>Realm</li>
        <li>CameraX</li>
        <li>Moxy</li>
        <li>Butterknife</li>
        <li>Binding</li>
        <li>Picasso</li>
        <li>Glide</li>
        <li>Coil</li>
        <li>NavComponent (Compose, XML)</li>
        <li>Cicerone</li>
        <li>Voyager</li>
        <li>Leak Canary</li>
        <li>KtLint</li>
        <li>Detekt</li>
        <li>Hyperion</li>
        <li>Timber</li>
        <li>ArCore</li>
        <li>OpenGl (Basic)</li>
        <li>JNI (Basic)</li>
    </ul>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Testing</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6">
        <li>Espresso</li>
        <li>Kaspresso</li>
        <li>Robolectric</li>
        <li>Junit4-5</li>
        <li>Barista</li>
        <li>Mockito</li>
        <li>Kakao</li>
        <li>UiAtomator</li>
        <li>WireMock</li>
        <li>MockWebServer</li>
    </ul>

    <br/>
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">AI</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6">
        <li>ML Kit</li>
        <li>TensorFlow Lite</li>
        <li>YOLOv5</li>
        <li>Label Studio</li>
    </ul>

    <!--CI CD-->
    <br/>
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">CI/CD</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6">
        <li>Jenkins</li>
        <li>CircleCi</li>
        <li>TeamCity</li>
        <li>GitLab pipeline</li>
    </ul>

    <!--Services-->
    <br/>
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Services</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6">
        <li>Maven</li>
        <li>Jira</li>
        <li>Confluence</li>
        <li>Bitbucket</li>
        <li>Gitlab</li>
        <li>GitHub</li>
        <li>Abstract</li>
        <li>Sketch</li>
        <li>Figma</li>
        <li>Sketch</li>
        <li>Firebase</li>
        <li>Stripe</li>
        <li>Other</li>
    </ul>

    <!--Experience-->
    <br/>
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Experience</div>
    </div>

    <div class="time-line-container mb-10">
        <TimeLineElement
                title="Android Software Engineer | Head of Android"
                subtitle="From Sep 2019 - Present, at Eventyr"
                companyLink="https://eventyr.pro/"
                desc="A service-oriented company focused on outsourcing and outstaffing, also involved as the owner of several projects. My role initially started as an Android engineer developing projects, which transitioned into a team lead role with an expanded scope of responsibilities and ultimately into the head of the department."
        />

        <TimeLineElement
                title="Middle Android Developer"
                subtitle="Jul 2019 - Sep 2019, at Digital Lab (Part-time)"
                desc="The company specializes in developing universal mobile solutions for supermarkets and consumer businesses. My role involves designing the framework of an application that can be assembled and disassembled like a construction set from various modules. The client can independently decide which functions are necessary for their business."
        />
        <TimeLineElement
                title="Android Developer"
                subtitle="Aug 2018 - Jul 2019, at Groot Soft (Full-time)"
                desc="GrootSoft is IT company specializing in mobile development through outsourcing and outstaffing. Expert team of developers offers clients tailored solutions, focusing on quality, modern technologies, and flexible collaboration models."
        />
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Education</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
        <TimeLineElement
                title="Bachelor's degree, Cybersecurity Specialist"
                subtitle="2018 to 2021 at Kharkiv National University of Radioelectronics"
        />
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Languages</div>
    </div>

    <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li><b>English:</b> B1</li>
        <li><b>Ukrainian:</b> Native</li>
        <li><b>Russian:</b> Native</li>
    </ul>





















<!--
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Events</div>
    </div>

    <div class="time-line-container mb-10">
        <TimeLineElement
                title="Geography School education app"
                subtitle="August 2019, at Engineering Jam 3, Minsk, Belarus"
                companyLink="https://tech.onliner.by/2019/08/17/jam-2#utm_source=facebook&utm_medium=onliner&utm_campaign=Engineering_Jam_3&utm_term=1st_day&utm_content=article?fbclid=IwAR2wsdgRVEHrHY0cLG6bC7GyyQQUc6dM-E97gFXN0X65o6YSLhtLzLyC8VI"
                desc="Geography School education app to solve geography quizzes. Participation, no prize"
        />
        <TimeLineElement
                title="Stickerbox"
                subtitle="August 2016, at Skywind Hackaton, Minsk, Belarus"
                companyLink="https://www.youtube.com/channel/UCm2fb0ZmA5Hs1FWCEhnx23w"
                desc="“Stickerbox” - entertainment application to make custom sticker and send them via android keyboard. Diplomas: “Completed MVP”;  “Drive and fun app”; “Selection of the jury”"
        />
    </div>-->


</BaseLayout>
