---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import TimeLineElement from "../../../components/cv/TimeLine.astro";
import i18next from "i18next";

i18next.changeLanguage("en");
---

<BaseLayout title="Resume">
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">CV</div>
    </div>

    <div class="mb-10 text-justify">
        Hello, I'm Alex, an experienced Android Engineer with six years of expertise in the field.
        Over the course of my career, I have successfully delivered more than 20 projects,
        actively contributed to open-source,
        and shared my knowledge through tech writing on
        platforms like
        <a style="color: rgb(0,0,255)" href="https://medium.com/@alex.hrindii/">Medium</a>. Additionally,
        I have been an active participant in Q&A sessions.
        My areas of expertise encompass Android architecture, design patterns, and mobile CI/CD.
        I specialize in product development, with a keen interest in business, finance, psychology,
        and staying up-to-date with the latest advancements in mobile architecture and trending technologies.
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Education</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
        <TimeLineElement
                title="Bachelor's degree, Computer systems and networks"
                subtitle="2009 to 2014 at Belarusian State University of Informatics and Radioelectronics, Minsk, Belarus"
        />
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Experience</div>
    </div>

    <div class="time-line-container mb-10">
        <TimeLineElement
                title="Android Software Engineer"
                subtitle="From Jul 2022 - Present, at Elinext, Warsaw, Poland"
                companyLink="https://www.elinext.com/"
                desc="Arlo Secure: Home Security. The security system for home with a vast amount of different devices and features. My work mostly consists of improoving technical process(upgrade CI, review process, CD process, tech leading), upgrade technical stack(setup kotlin linters, strong architecture rules), adding new features and improoving legacy(decreasing the cost of renting services by reducing their use by caching)."
        />
        <TimeLineElement
                title="Android Software Engineer"
                subtitle="Jan 2020 - Jul 2022, Humans Group, Warsaw, Poland"
                companyLink="https://play.google.com/store/apps/details?id=net.humans.fintech_uz"
                desc="Humans.uz is a telecom-banking-marketplace platform in Uzbekistan. Technical and resource management. Increasing feature delivery speed: setup decomposition and development process between features(usually 2-4 persons by 1 feature); decrease build time - split technical parts of the application by modules and pack it to the binary storage. As a result increase feature delivery time from 2 months to 3 weeks. The main achievement is the establishment of an accelerated feature delivery process to the user while maintaining efficiency."
        />
        <TimeLineElement
                title="Android Software Engineer"
                subtitle="Jun 2019 - Jan 2020, at HiQo Solutions, Minsk, Belarus"
                companyLink="https://hiqo-solutions.com/"
                desc="HiQo Solutions - is an outsorcing company in technology development for machine learning, Edge IoT systems, cloud and advanced software. My area of responsibility was project management and mentoring of android engineers. Supporting good quality of code, setup CI/CD and improoving the tech processes."
        />
        <TimeLineElement
                title="Android Software Engineer"
                subtitle="Jun 2018 - Jun 2019, at Yandex, Minsk, Belarus"
                companyLink="https://yandex.com/company/"
                desc="Yandex Browser. Chromium fork for android mobile application. Development GUI features, work by quotes: bugfix, feature and automation QA. Improve team adaptation process with the transformation from Java to Kotlin as a main project language by formalization and integration kotlin lint rules."
        />
        <TimeLineElement
                title="Android Software Engineer"
                subtitle="Jun 2015 - Jun 2018, at Yellow, Minsk, Belarus"
                companyLink="https://yellow.systems/"
                desc="Yellow is a young and fast growing studio company. My area of responsibility included the development of the company's own projects and the development of custom products. During my work I have successfully delivered all projects to order. In addition, we have had a number of successful projects of our own. And even managed to make some noise at the hackathon."
        />
        <TimeLineElement
                title="Android Software Engineer"
                subtitle="Oct 2014 - Jun 2015, at ITM House, Minsk, Belarus"
                companyLink="https://www.linkedin.com/company/itm-house/"
                desc="ITM House - is a big outsorcing company with a young and fast frowing collective. During my time with the company, I was lucky to start one of the projects that served as a start for the development of the next company - Yellow. This project was FlowerPower."
        />
        <TimeLineElement
                title="Middle Android Developer"
                subtitle="Feb 2014 - Sep 2014, at Vega Systems, Minsk, Belarus"
                desc="Vega Systems - a young studio company that specialized in small mobile applications. During my work, I managed to release about 7 applications and saturate the market of Belarus and Russia with business solutions."
        />
        <TimeLineElement
                title="Junior Android Developer"
                subtitle="Nov 2012 - Feb 2014, at Medical Software Solutions, Minsk, Belarus"
                desc="Medical Software Solutions - is a company specializing in the development of POS for the sale of medical products. It was my first job where I was able to put my knowledge into practice and help the company create prototypes of POS systems."
        />
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Certifications</div>
    </div>

    <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
            <a href="/cv/elegion-android.pdf" target="_blank">E-legion & Google. Android Developer school. 2015</a>
        </li>
        <li>CCNA Exploration: Network Fundamentals</li>
        <li>CCNA Exploration: Routing Protocols and Concept</li>
    </ul>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Events</div>
    </div>

    <div class="time-line-container mb-10">
        <TimeLineElement
                title="Geography School education app"
                subtitle="August 2019, at Engineering Jam 3, Minsk, Belarus"
                companyLink="https://tech.onliner.by/2019/08/17/jam-2#utm_source=facebook&utm_medium=onliner&utm_campaign=Engineering_Jam_3&utm_term=1st_day&utm_content=article?fbclid=IwAR2wsdgRVEHrHY0cLG6bC7GyyQQUc6dM-E97gFXN0X65o6YSLhtLzLyC8VI"
                desc="Geography School education app to solve geography quizzes. Participation, no prize"
        />
        <TimeLineElement
                title="Stickerbox"
                subtitle="August 2016, at Skywind Hackaton, Minsk, Belarus"
                companyLink="https://www.youtube.com/channel/UCm2fb0ZmA5Hs1FWCEhnx23w"
                desc="“Stickerbox” - entertainment application to make custom sticker and send them via android keyboard. Diplomas: “Completed MVP”;  “Drive and fun app”; “Selection of the jury”"
        />
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Skills</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6">
        <li>Russian (Native)</li>
        <li>English (C1)</li>
        <li>Polish (B1)</li>
        <li>Android</li>
        <li>Java</li>
        <li>Kotlin</li>
        <li>Kotlin KMM</li>
        <li>Groovy</li>
        <li>Gradle</li>
        <li>Bash</li>
        <li>C++</li>
        <li>Python</li>
        <li>PHP</li>
        <li>Ruby</li>
        <li>Ruby on Rails</li>
        <li>SQLite</li>
        <li>Postgres SQL</li>
        <li>MySQL</li>
        <li>GraphQL</li>
        <li>REST</li>
        <li>Astro</li>
        <li>Bootstrap</li>
        <li>Git</li>
        <li>Jira</li>
        <li>LeanStartup</li>
        <li>UX/UI Design</li>
        <li>Figma</li>
    </ul>
</BaseLayout>
